.navbar {
    /* box-shadow: 0px 5px 10px rgb(213, 213, 213); */
    border-bottom: 1px solid #d2d2d2;
}

.navbar ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    padding: 1rem;
}

.navbar ul li {
    color: #3c3c3c;
}

.navbar ul li:hover {
    color: black;
}

.logo {
    width: 3rem;
    /* border: 1px solid red; */
}

.outlet-container {
    width: 79rem;
    /* border: 2px solid blueviolet; */
}

.flex-center {
    display: flex;
    justify-content: center;
}

.flex-space-between {
    display: flex;
    justify-content: space-between;
}

.align-center {
    align-items: center;
}

.header-section-line {
    border-bottom: 1px solid #d2d2d2;
    padding: 0rem 1rem 1rem 1rem;
    margin: 2rem 0rem 1.5rem 0rem;
    display: flex;
    justify-content: space-between;
    align-items: end;
}

.header-section-line div {
    display: flex;
    gap: 1rem
}

.h1-notes {
    font-size: 1.5rem;
}

/* buttons */

button {
    width: fit-content;
    height: fit-content;
    padding: 0.5rem 1.5rem;
    background-color: transparent;
    color: #1c8dff;
    font-size: 1.2rem;
    border: 1px solid #1c8dff;
    border-radius: 0.5rem;
    transition: 0.2s;
  }
  
button:hover {
    background-color: #1c8dff;
    color: white;
    cursor: pointer;
}

.delete-button {
    background-color: transparent;
    color: #ff3131;
    border: 1px solid #ff3131;
}

.delete-button:hover {
    background-color: #ff3131;
    color: white;
}

.full-button {
    background-color: #44a1ff;
    color: white;
}

.full-button:hover {
    background-color: #1c8dff;
}

.delete-full-button {
    background-color: #fe5c5c;
    color: white;
    border: 1px solid #fe5c5c;
}

.delete-full-button:hover {
    cursor: pointer;
    background-color: #ff3131;
}

.cancel-button {
    background-color: transparent;
    color: #3c3c3c;
    border: 1px solid #3c3c3c;
}

.cancel-button:hover {
    background-color: #3c3c3c;
}

.operation-button {
    background-color: transparent;
    color: #3c3c3c;
    border: 1px solid transparent;
}

.operation-button:hover {
    background-color: #ededed;
    color: #3c3c3c;
    border: 1px solid #ededed;
}

.search-full-button {
    background-color: #3c3c3c;
    color: #ededed;
    border: 1px solid #3c3c3c;
}

.search-full-button:hover {
    background-color: #000000;
}

.subject-button {
    color: black;
    text-decoration: none;
}

.subject-button:hover {
    text-decoration: underline;
}

.note-button {
    border: none;
    color: black;
    font-weight: 500;
    position: relative;
    overflow: hidden;
    padding: 0.2rem 0;
    border-radius: 0;
}

.note-button:hover {
    background-color: transparent;
    color: black;
}

.note-button::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 1px;
    background-color: black;
    transform: translateX(-100%);
    transition: transform 0.3s;
}

.note-button:hover:before {
    transform: translateX(0%);
}

.disabled-button {
    color: gray;
    border: 1px solid gray;
}

.disabled-button:hover {
    color: gray;
    border: 1px solid gray;
    background-color: transparent;
    cursor: default;
}


/* ------------- */

.width-max {
    height: calc(100vh - 4.5rem);
    /* border: 1px solid red; */
}

.border {
    border: 1px solid red;
    width: fit-content;
}

.input-error {
    width: 100%;
    height: 1rem;
    color: #ff3131;
    font-size: 0.8rem;
    /* border: 1px solid red; */
}

#editor {
    background-color: white;
}

.ql-toolbar {
    position: sticky;
    top: 0;
    z-index: 100;
    background-color: white;
}

.unsaved-alert div {
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
}

.section-line {
    border-bottom: 1px solid #d2d2d2;
}

.note-readonly-section {
    margin: 1rem 0rem;
}

.margin {
    margin: 2rem 0rem;
}

button span {
    margin-right: 0.5rem;
}

.bird-img {
    width: 100%;
    height: calc(100vh - 4.3rem);
    object-fit: cover;
}

.home-page {
    position: relative;
}

.home-label {
    font-size: 6rem;
    color: white;
    position: absolute;
    top: 12rem;
    left: 12rem;
    display: flex;
    flex-direction: column;
}

.home-label div:nth-child(2) {
    font-size: 4rem;
    align-self: end;
}

.home-page button {
    position: absolute;
    top: 75vh;
    left: 50%;
    transform: translateX(-50%);
    padding: 1rem 2rem;
    font-size: 1.5rem;
    border-width: 2px;
    border-radius: 2rem;
}

.home-section {
    height: 47rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4rem;
}

.home-tile {
    width: 20rem;
    height: 20rem;
    padding: 2rem;
    border-radius: 1rem;
    transition: all 0.2s;
}

.home-tile:hover {
    transform: scale(1.1);
    box-shadow: 0px 5px 15px rgb(213, 213, 213);
}

.home-tile p {
    color: #595959;
}

.home-tile div {
    display: flex;
    justify-content: space-between;
}

.footer {
    color: white;
    background-color: black;
    font-weight: 300;
    font-size: 0.9rem;
    display: flex;
    justify-content: center;
    padding: 5rem;
}

.message {
    background-color: #fff3b5;
    border: 2px solid #bfa100;
    color: #bfa100;
    padding: 2rem;
    border-radius: 1rem;
    max-width: 40rem;
    width: fit-content;
    gap: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}