.subject-tile {
    width: 25rem;
    height: 19rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: white;
    box-sizing: border-box;
    padding: 1.5rem;
    border-radius: 1rem;
    transition: box-shadow 0.3s;
}

.subject-tile:hover {
    box-shadow: 0px 5px 15px rgb(209, 209, 209);
}

.subject-tile .header {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    align-items: center;
    /* border: 1px solid red; */
}

.subject-tile .header h2 {
    height: 4.5rem;
    /* border: 1px solid blue; */
    overflow: hidden;
}

.subject-tile .header div {
    display: flex;
    gap: 1rem;
    justify-content: center;
    align-self: flex-start;
    height: fit-content;
    /* border: 1px solid blue; */
}

.subject-tile .header div > *:hover {
    transform: scale(1.2);
}

.hashtags-section {
    display: flex;
    column-gap: 1rem;
    row-gap: 0.2rem;
    flex-wrap: wrap;
    align-items: flex-start;
    /* border: 1px solid blue; */
    height: 3rem;
}

.hashtag {
    width: fit-content;
    display: flex;
    align-items: center;
    gap: 0.2rem;
    /* border: 1px solid blue; */
}

.details {
    display: flex;
    justify-content: space-between;
    color: #595959;
    font-size: 1rem;
}

.subject-tile button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    border-radius: 0.5rem;
}

.subject-tile button span {
    margin-left: 0.5rem;
}

.subject-filter {
    padding: 0rem 1rem;
    padding-bottom: 1.5rem;
    margin-bottom: 2rem;
    border-bottom: 1px solid #d2d2d2;
}

.subject-filter form {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* gap: 3rem; */
    /* border: 1px solid red; */
}

.subject-filter form div div {
    margin-bottom: 0.2rem;
}

.subject-filter form div input {
    width: 15rem;
}

.subject-filter form div select {
    width: 15rem;
}


.subjects-list {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
}


/* -------------------------- */

.operation-container {
    width: 40rem;
    background-color: white;
    border-radius: 1rem;
    padding: 2rem;
}

.operation-inputs {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin-top: 2rem;
    /* border: 1px solid red; */
}

.flex-operation-buttons {
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.operation-flex-column {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.hashtag-input {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hashtag-output {
    height: 1.5rem;
    /* border: 1px solid red; */
    display: flex;
    flex-wrap: wrap;
    align-items: start;
    column-gap: 1.5rem;
}

.hashtag-output > div {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    height:  fit-content;
    /* border: 1px solid; */
}

.x:hover {
    transform: scale(1.2);
}

.subject-props {
    display: flex;
    justify-content: space-between;
}

.subject-all {
    padding: 0rem 7rem;
}

.subject-all .hashtags-section {
    margin-top: 1.5rem;
}

.subject-desc {
    text-align: left;
    width: 42rem;
}

.datails {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    font-size: 1rem;
    color: #898989;
}

.details-item {
    text-align: right;
}

.note-tile {
    background-color: white;
    padding: 1rem 2rem;
    width: 62rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 0.5rem;
    transition: box-shadow 0.5s;
}

.note-tile:hover {
    box-shadow: 0px 5px 15px rgb(209, 209, 209);
}

.note-tile div {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.date {
    font-size: 1rem;
    color: #898989;
}

.notes-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.note-left {
    display: flex;
    align-items: center;
    gap: 5rem;
}

.slim {
    font-weight: 500;
    font-size: 1.5rem;
}